@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 280 15% 15%;
    --card: 0 0% 100%;
    --card-foreground: 280 15% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 280 15% 15%;
    --primary: 150 56% 58%;
    --primary-foreground: 280 15% 15%;
    --secondary: 260 20% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 240 5% 96%;
    --accent-foreground: 280 15% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 93%;
    --ring: 150 56% 58%;
    --radius: 0.5rem;

    --sidebar-background: 150 56% 58%;
    --sidebar-foreground: 280 15% 15%;
    --sidebar-primary: 280 15% 15%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 150 50% 53%;
    --sidebar-accent-foreground: 280 15% 15%;
    --sidebar-border: 150 50% 53%;
    --sidebar-ring: 280 15% 15%;
  }

  .dark {
    --background: 240 10% 97%;
    --foreground: 280 15% 15%;
    --card: 0 0% 100%;
    --card-foreground: 280 15% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 280 15% 15%;
    --primary: 150 56% 58%;
    --primary-foreground: 280 15% 15%;
    --secondary: 260 20% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 240 5% 96%;
    --accent-foreground: 280 15% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 93%;
    --ring: 150 56% 58%;
    --radius: 0.5rem;

    --sidebar-background: 150 56% 58%;
    --sidebar-foreground: 280 15% 15%;
    --sidebar-primary: 280 15% 15%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 150 50% 53%;
    --sidebar-accent-foreground: 280 15% 15%;
    --sidebar-border: 150 50% 53%;
    --sidebar-ring: 280 15% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
